apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/kubernetes-sigs/lws//config/default?ref=v0.8.0

# Transform all namespace references from lws-system to be set by parent overlay
namespace: kubeflow-system

# Add required patches.
patches:
  # Remove namespace from the LeaderWorkerSet release manifests.
  - path: patches/leaderworkerset_remove_namespace.yaml
    target:
      group: ""
      version: v1
      kind: Namespace
